VITE_SUPABASE_URL=https://fyvlskufbmmzxkhsubdh.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5dmxza3VmYm1tenhraHN1YmRoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMwNzYwNDgsImV4cCI6MjA5ODY1MjA0OH0.hP8w04IjMQg4QUb3zHw4d2SikODsQug42gMiXm-CDvI